.homewtop h3 {
  font: 15px/15px DIN1451StdEngschrift, Arial, sans;
  text-transform: uppercase;
  padding: 10px 0 10px 38px;
}

.homewtop {
  height: 29px;
}

.homewbottom {
  height: 29px;
}

.homewmiddle {}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 92.5px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 92.5px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e30412;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 92.5px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e30412;
}

/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 92.5px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e30412;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.volumeMuted {
  background: url(img/volume-muted.svg) no-repeat 55% center;
}

.volumeLow {
  background: url(img/volume-low.svg) no-repeat 55% center;
}

.volumeMedium {
  background: url(img/volume-medium.svg) no-repeat 55% center;
}

.volumeHigh {
  background: url(img/volume-high.svg) no-repeat 55% center;
}

.volumeBtn {
  background-color: #7f7f7f;
  width: 22px;
  height: 22px;
  margin: 0 6px
}

.playBtn {
  width: 46px;
  height: 46px;
}

.playControl {
  background: url(img/play.svg) no-repeat 55% center;
}

.playControl_playing {
  background: url(img/pause.svg) no-repeat 55% center;
}

.playButton.m-stretch:hover, .playButton.m-stretch:focus {
  background-color: #f30;
  border-color: #f30
}

.playButton.m-stretch:active {
  background-color: #f30;
  border-color: #f30
}

.playButton.m-stretch:disabled, .playButton.m-stretch.sc-button-disabled:disabled {
  opacity: .4
}

.playButton.m-stretch:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(img/play.svg);
  background-image: url(img/play.svg);
  background-size: 40% 60%;
  background-position: 60% center;
  background-repeat: no-repeat;
  transition: opacity .3s;
  opacity: 1
}

.radio_block {
  vertical-align: bottom;
}

.radio-widget {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#radio_txt {
  display: inline-block;
  text-align: center;
  width: 270px;
  overflow: hidden;
  background: #f0f0f0;
}

#radio_player {
  width: 100%;
}

div#radio_player {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

button#radio_play, button#radio_btn {
  outline: none;
  color: white;
  border: none;
  margin: 2% 2%;
  font-size: 12px;
  padding: 2px 2px;
}

#radio_play:hover, #radio_btn:hover {
  fill: orange;
}

div#radio_volume {
  display: inline-block;
  margin-top: 10px;
}

div#bottom_player {
  display: inline-block;
}

input#radio_volume_level {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  margin-left: 5px;
}

img#radio_logo {
  width: 100px;
  height: auto;
}

.w3-btn, .w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-btn, .w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w3-disabled, .w3-btn:disabled, .w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.w3-disabled *, :disabled * {
  pointer-events: none
}

.w3-btn.w3-disabled:hover, .w3-btn:disabled:hover {
  box-shadow: none
}

.w3-bar .w3-button {
  white-space: normal
}

.w3-top, .w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.w3-bottom {
  bottom: 0
}

.w3-circle, .w3-circle:hover {
  border-radius: 50%
}

/* Colors */

.w3-red, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #f44336!important
}
